environment: DEVELOPMENT
listen_address: 127.0.0.1
listen_port: 1323
crypto_key:
log_path: ./tmp
db_host: localhost
db_port: 5432
db_user:
db_pass:
db_name:
data_per_page:
certificte_file_path: ./ssl/server.crt
certificte_key_file_path: ./ssl/server.key
web_domain_name:
cookie_auth_name: Authorization
